<div id="carouselExample" class="carousel slide" style="margin-top: 150px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/image1.png" class="d-block w-50" alt="..." style="height: 400px;margin: auto">
    </div>
    <div class="carousel-item">
      <img src="./assets/image2.png" class="d-block w-80" alt="..." style="height: 400px;margin: auto">
    </div>
    <div class="carousel-item">
      <img src="./assets/image3.png" class="d-block w-50" alt="..." style="height: 400px; margin: auto">
    </div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container" style="position: relative;
  width: 100%;
  margin: 100px auto;
  padding: 20px;">
  <div class="text-left" style="max-width: 600px; text-align: center">
    <p class="title">Modern storage solutions</p>
    <span class="description">
Invest in our tools to optimize your warehouse management processes.
Focus on effective resource management,
Eliminate operational errors and gain a competitive edge in a dynamic business environment.</span>
  </div>
  <div class="text-right"  style="max-width: 600px; text-align: center">
    <p class="title">Manage your warehouse with lightness</p>
    <span class="description" style="text-align: center">
Add and edit products easily with an intuitive interface. Upload products from a csv file,
       built-in functions will allow you to effectively control the quantity in stock.
Quickly search for specific products by name. Add suppliers to your contacts, and exchange messages with them
    </span>
  </div>
</div>
