<div id="carouselExample" class="carousel slide" style="margin-top: 150px">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/1.png" class="d-block w-50" alt="..." style="height: 200px; margin: auto">
    </div>
    <div class="carousel-item">
      <img src="./assets/1.png" class="d-block w-50" alt="..." style="height: 200px; margin: auto">
    </div>
    <div class="carousel-item">
      <img src="./assets/1.png" class="d-block w-50" alt="..." style="height: 200px; margin: auto">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container w-100 main">
  <div class="col-5 container info" >
   <span class="card-title">Nowoczesne rozwiązania magazynowe</span>
    <span class="description">
      fdfdds
      Zainwestuj w nasze nowoczesne narzędzia, aby zoptymalizować procesy gospodarki magazynowej.
      Skoncentruj się na efektywnym zarządzaniu zasobami,
      wyeliminuj błędy operacyjne i zdobądź przewagę konkurencyjną w dynamicznym środowisku biznesowym.</span>

  </div>
  <div class="col-1 break"></div>
  <div class="col-5 container info">
    <span class="card-title">Zarządzaj magazynem z lekkością</span>
    <span class="description" style="text-align: center">
       Magazyn plus to kompleksowe narzędzie, które umożliwia łatwe zarządzanie magazynem.
      Dodawaj i edytuj produkty z łatwością, dzięki intuicyjnemu interfejsowi.
      Szybko wyszukuj konkretne produkty, wbudowane funkcje umożliwią skuteczną kontrolę ilości na stanie.
    </span>
  </div>


</div>
