<div class="w-50 p-3 header-main">
  <div class="container">
    <div class="col-4 p-3"
         style="font-size: 30px;
         width: 100%;
          line-height: 42px;
          display: flex; justify-content: space-between">
      <span>Magazyn+</span>
      <span routerLink="/home" style="font-weight: lighter; font-size: medium; margin-top: 10px">Home</span>
      <span routerLink="/main" style="font-weight: lighter; font-size: medium; margin-top: 10px">Main page</span>
      <button class="login" (click)="logout()" style="font-size: small">Log out</button>

    </div>
  </div>

</div>
