/* styles.css */
/* styles.css or styles.scss */


.header-main {
  height: 100px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 25%;
  color: white;
  font-weight: bold;
  font-size: 15px;
  display: flex;
  border-bottom: 2px solid white;
}

span {
  cursor: pointer;
  color: white;
  transition: .2s;
}

span:hover {
  color: #209cff;
  border-bottom: 1px solid #13afee;
}

.login {
  height: 40px;
  line-height: 30px;
  color: white;
  width: 10%;
  border: 1px solid white;
  border-radius: 20px;
  background-color: #209cff;;
  font-weight: bold;
  transition: .2s;
}

.login:hover {
  background-color: #13afee;
}
