.paginator{
  padding: 4px;
  font-size: medium;
  border-top: 1px solid #045879;
  border-right: 1px solid #045879;
  border-bottom: 1px solid #045879;
  border-radius: 20px;
  min-width: 120px;
  text-align: center;
  background-color: #13afee;
  color: white;
  cursor: pointer;
  transition: .2s;
}
.paginator:hover{
  background-color: #32b5e8;
}
.main-suppliers{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  min-height: 500px;
  background-color: rgba(34, 156, 208, 0.45);
}
.mat-mdc-card {
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}
.new-supplier {
  min-width: 200px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: rgba(51, 183, 183, 0.51);
  border-radius: 10px;
  padding: 10px;
  border-top: 2px solid #0b6558;
  border-bottom: 3px solid #0b6558;
  border-right: none;
  border-left: none;
  transition: .2s;
  cursor: pointer;
}
.new-supplier:hover{
  background-color: rgba(66, 213, 213, 0.51);
}
.mdc-button .mdc-button__label {
  position: relative;
  background-color: #00b7ff !important;
  padding: 10px;
  border-radius: 20px;
  color: white;
  width: 100px;
}

